body{
    background: linear-gradient(90deg,rgba(4, 130, 56, 1) 46%, rgba(160, 237, 83, 1) 100%);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0%;
    background-attachment: fixed;
}